.post {
  /*width: 100%;*/
  /*max-width: 470px;*/
  margin: 0 auto;
  background-color: #000000;
  /*border-left: 1px solid #262626;
  border-right: 1px solid #262626;
  border-bottom: 1px solid #262626;*/
  margin-bottom: 24px;
}

.post-header {
  padding: 12px;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
}

.post-image {
  width: 100%;
  height: auto;
  display: block;
  /*object-fit: cover;*/
}

.post-actions {
  display: flex;
  gap: 16px;
  padding: 8px 12px;
  font-size: 20px;
}

.icon {
  cursor: pointer;
}

.icon.liked {
  color: #ed4956;
}

.post-likes {
  padding: 0 12px;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
}

.post-caption {
  padding: 8px 12px 12px;
  font-size: 14px;
  color: #e5e5e5;
}

/*aca empieza el nuevo codigo*/
.icon {
  width: 24px;
  height: 24px;
  fill: none;
  stroke: #ffffff;
  stroke-width: 2;
  cursor: pointer;
}

.heart {
  fill: none;
  stroke: #ffffff;
}

.heart.liked {
  fill: #ed4956;
  stroke: #ed4956;
}

.save {
  fill: none;
  stroke: #ffffff;
  margin-left: auto; 
}

.save.saved {
  fill: #ffffff;
}